h2{
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

ul{
    border-right: 1px solid gray;
    margin: 0;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}

#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ul{
    padding: 33px;
    background-color: bisque;
}

#grid #article{
    padding-left: 25px;
}

@media(max-width:800px){
    #grid{
        display: block;
    }
    #ul{
        border-right: none;
    }
    #h2{
        border-bottom: none;
    }
}